* {
    box-sizing: border-box;
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    /* font-size: 16px; */
    line-height: 1.8em;
}
.container{
    width: 960px;
    margin: 0 auto;

}

h1 {
    font-size:1.7em;
    background-color:rgb(74, 170, 165);;
    color: white;
    padding: 20px 30px;
    float:left;
    margin-bottom: 0px;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

h2 {
    font-size: 1.8em;
    margin: 0 20px 20px 0;
}
.projectImage {
    float: right;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 200px;
    height:150px;
}
.projectImage:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
/* .projectImage2 {
    float: left;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 200px;
    height:150px;
}
.projectImage2:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
} */
.projecttilte {
    font-size: 1.7em;
    text-align: center;
}

nav {
    padding-top:60px;
    padding-left: 80px;
    float:right;
}

nav a {
    text-decoration: none;
    padding: 5px 10px;
    color: rgb(110, 109, 109)
}
nav a:not(:first-child){
    border-left: solid #eee 1px;
}

.box {
    clear:both;
    background-color: rgb(237,237,237);
    padding: 20px 0 60px 0;
}

h2 {
    color:rgb(74, 170, 165);
    font-family: 'Georgia', Times, Times New Roman, serif;
    text-align: center;
}
.content {
    padding:10px 30px 10px 30px;
    width: 960px;
    margin: 0 auto;
    background-color: rgb(255,255,255);
}

#img {
    float: left;
    margin: 15px 20px 15px 0;
    width: 120px;
}
#explaination {
    font-size: 24px;
}
 
.img {
    float: left;
}

.pic {
    width: 350px;
    height: 350px;
}
.title {
    position: relative;
    padding: 1px;
    background-color:rgb(74, 170, 165);
    width: 350px;
    color: white;
    text-align: center;
}
.img-1 {
    display:inline-block;
    padding: 20px 20px 20px 0;
}
.ctitle {
    font-size: 18px;
    color: rgb(110, 109, 109);
}
 .info {
    font-size: 12px;
    color: rgb(110, 109, 109);
    padding: 10px;
    border:1px solid gray;
 }
 .form {
     color: rgb(110, 109, 109);
     margin-top: 20px;
 }
 .form input[type="text"],
 .form textarea{
     margin: 5px 0 15px 0;
     color:rgb(110, 109, 109);
     width: 100%;
     padding: 5px 10px;
     border: solid 1px #eee;
     font-size: 0.8em;
 }
 .form textarea{
    height: 120px;
 }
.form input[type="submit"]{
    background-color: rgb(74, 170, 165);
    color: white;
    padding: 8px 25px;
    font-size: 14px;
    border: none;
}
footer {
    background-color: rgb(74, 170, 165);
    padding-top: 7px;
}
footer div {
    margin-top:10px;
    margin-bottom: 10px;
    background-color: rgb(179, 176, 176);
    color: white;
    text-align: center;
    font-weight: bold;
    padding: 5 px;
    font-size: 64 px;
}
.link {
    color: white;
}
@media screen and (max-width:980px){
    .container {
        width: calc(100% - 30px);
        margin-left:30px;
    }
    .content { 
        width: 500px;
        margin-left:30px;
    } 
     nav { 
         padding-right:60px;
    } 
    .pic {
        max-width: 350px;
        width:100%;
        height:150px;
    }
    .title {
        max-width: 350px;
        width:100%;
    }
    .img-1 {
        width:49%;
        max-width: 350px;
        margin-bottom: 10px;
    }  
}
@media screen and (max-width:768px){
    .content {
        width: 100%;
        margin-left: 0;
    }
   .pic {
        height:250px;
    }
    .title {
        max-width: 350px;
        width:100%;
    }
    h1 {
        padding: 10px;
    }
    nav {
        padding-right:30px;
    }
} 
 @media screen and (max-width:640px){
    
    .content {
        width: 100%;
    }
   .pic {
        max-width: 350px;
        width:100%;
        height:250px;
    }
    .title {
        max-width: 350px;
        width:100%;
    }
    .img-1 {
        width:100%;
        max-width: 350px;
        height:250px;
        padding-bottom:0 20px; 
    }
    h1 {
        position: static;
        width:100%;
        padding-left:120px;
    }
    nav{
        width: 100%; 
        padding-top:10px;
        padding-bottom:10px;
        }
    .content {
        width:100%;
    }
    #img {
        width:100%;
    }
}
